<a
  class="flex items-center transition md:justify-center md:hover:scale-105"
  href="https://www.linkedin.com/in/a-david-nino/"
  target="_blank"
>
  <div class="flex items-center">
    <span
      id="badge-dismiss-green"
      class="border border-green-500 inline-flex items-center justify-center w-full px-4 py-1 text-sm bg-gray-700/80 rounded-full  backdrop-blur-2xl text-center"
    >
      Disponible para trabajo
      <svg
        class="w-2 h-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
      </svg>
    </span>
  </div>
</a>
