---
import Cards from "./Cards.astro";
import React from "./Icons/Icontools/React.astro";
import Bootstrap from "./Icons/Icontools/bootstrap.astro";
import JSIcon from "./Icons/Icontools/JSIcon.astro";
import Firebase from "./Icons/Icontools/FireBaseIcon.astro";
// Si quieres usar Firebase más adelante, también impórtalo aquí

const prj = [
  {
    Title: "Autenticación con Firebase",
    Descripcion:
      "Este proyecto es una aplicación web que permite a los usuarios registrarse, iniciar sesión y cerrar sesión utilizando Firebase Authentication.",
    img: "/auth.webp",
    link: "https://github.com/David-Ramirez01/Test-CB",
    Tools: [
      {
        name: "React",
        icon: React,
        color: "text-sky-500",
      },
      {
        name: "Bootstrap",
        icon: Bootstrap,
        color: "text-purple-500",
      },
      {
        name: "JavaScript",
        icon: JSIcon,
        color: "text-yellow-500",
      },
      {
        name: "Firebase",
        icon: Firebase,
        color: "text-orange-500",
      },
    ],
  },
  
];
---

<ul class="py-4 flex flex-wrap gap-4 justify-center">
  {
    prj.map((item) => (
      <li class="w-full sm:w-auto">
        <Cards {...item} />
      </li>
    ))
  }
</ul>
