<!-- Pie de página -->
<footer class="bg-zinc-50 dark:bg-gray-800">
  <div class="bg-black/5 p-4 text-center text-surface dark:text-white">
    © 2025. Casi todos los derechos reservados.
  </div>
</footer>
